*.log
*.swp

.cache
.temp
.idea
.rn_temp
.DS_Store

pullRequest.js
package-lock.json

node_modules
packages/**/coverage
packages/**/dist
packages/antmui-demos/weapp
packages/antmui-demos/alipay
packages/antmui-demos/swan
packages/antmui-demos/h5
packages/antmui-demos/tt
packages/antmui-demos/qq
packages/antmui-demos/dd
packages/antmui-demos/qywx
packages/antmui-demos/jd
packages/antmui-demos/iot
