*.log
*.md
*.lock
*.swp

.cache
.temp
.idea
.rn_temp
.DS_Store
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.stylelintignore
LICENSE

node_modules
packages/**/coverage
packages/**/dist
packages/antmui/src/style/components/iconfont.less
packages/antmui-demos/weapp
packages/antmui-demos/alipay
packages/antmui-demos/swan
packages/antmui-demos/h5
packages/antmui-demos/tt
packages/antmui-demos/qq
packages/antmui-demos/dd
packages/antmui-demos/qywx
packages/antmui-demos/jd
packages/antmui-demos/iot
