*.log
*.md
*.lock
*.swp

.cache
.temp
.idea
.rn_temp
.DS_Store
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.stylelintignore
LICENSE

node_modules
packages/**/coverage
packages/**/dist
packages/antmui/src/style/components/iconfont.less
packages/antmui-demo/weapp
packages/antmui-demo/alipay
packages/antmui-demo/swan
packages/antmui-demo/h5
packages/antmui-demo/tt
packages/antmui-demo/qq
packages/antmui-demo/dd
packages/antmui-demo/qywx
packages/antmui-demo/jd
packages/antmui-demo/iot
