.antmui- {
  &button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: auto;
    padding: 14px 32px;
    margin: 0;
    font-size: 28px;
    line-height: 1.4;
    text-align: center;
    cursor: pointer;
    transition: opacity ease 0.15s;
    user-select: none;
    background: #ffffff;
    &:focus {
      outline: none;
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: #000000;
      border: inherit;
      border-color: #000000;
      border-radius: inherit;
      transform: translate(-50%, -50%);
      opacity: 0;
      content: ' ';
      box-sizing: content-box;
    }
    &:active::before {
      opacity: 0.1;
    }

    &-default {
      color: #323233;
      background-color: #ffffff;
      border: 2px solid #ebedf0;
    }

    &-primary {
      color: #ffffff;
      background-color: #1989fa;
      border: 2px solid #1989fa;
    }

    &-success {
      color: #ffffff;
      background-color: #07c160;
      border: 2px solid #07c160;
    }

    &-warning {
      color: #ffffff;
      background-color: #ff976a;
      border: 2px solid #ff976a;
    }

    &-danger {
      color: #ffffff;
      background-color: #ee0a24;
      border: 2px solid #ee0a24;
    }

    &-plain {
      background-color: #ffffff;
    }
    &-plain.antmui-button-primary {
      color: #1989fa;
      &::after {
        border-color: #1989fa;
      }
    }
    &-plain.antmui-button-warning {
      color: #ff976a;
      &::after {
        border-color: #ff976a;
      }
    }
    &-plain.antmui-button-danger {
      color: #ee0a24;
      &::after {
        border-color: #ee0a24;
      }
    }
    &-hairline {
      border-width: 0;
      &::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        top: -50%;
        right: -50%;
        bottom: -50%;
        left: -50%;
        border: 2px solid #323233;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        border-width: 2px;
      }
    }

    &-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
