/* stylelint-disable selector-max-type */
@import './theme.less';

// antmui-button
@antmuiBtnWidth: (184px * @hd);
@antmuiBtnFontSize: (17px * @hd);
@antmuiBtnBorderRadius: (4px * @hd);
@antmuiBtnDefaultGap: (16px * @hd); // margin
@antmuiBtnLineHeight: @antmuiBtnFontSize * 2;
@antmuiBtnGap: (8px * @hd); //padding

@antmuiBtnMiniFontSize: (16px * @hd);
@antmuiBtnMiniLineHeight: @antmuiBtnMiniFontSize * 1.2;

// antmui-cell
@antmuiCellGapV: (16px * @hd);
@antmuiCellGapH: (16px * @hd);
@antmuiCellInnerGapH: (16px * @hd);
@antmuiCellHeight: (56px * @hd);
@antmuiCellFontSize: (17px * @hd);
@antmuiCellTipsFontSize: (14px * @hd);
@antmuiCellLabelWidth: (105px * @hd);
@antmuiCellLineHeight: ((56 - 2 * 16) / 17); // 高度减去上下padding的行高
@antmuiCellsMarginTop: (8px * @hd);

// antmui-dialog
@antmuiDialogGapWidth: (24px * @hd);

html,
body {
  font-size: 14px * @hd;
  background-color: @antmui-BG-COLOR;
  line-height: 1;
}

.antmui-shadow {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
}

.antmui-mask {
  position: fixed;
  z-index: @antmuiZIndexMask;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: @antmuiMask;
}
